In [1]:
import pandas as pd

In [21]:
df = pd.read_csv('opensea_asset_data_with_limit=150.csv')

In [25]:
df[['cv_plotSize_desc','cv_OCdistance_desc','cv_buildHeight_desc','floor_elev_desc']] = df.description.str.split(",", expand=True)
df

,id,name,description,traits,asset_contract.address,asset_contract.asset_contract_type,asset_contract.created_date,asset_contract.name,asset_contract.description,collection.description,...,last_sale.transaction.to_account.user.username,script_exec_datetime_mt,temp1,temp2,temp3,temp4,cv_plotSize_desc,cv_OCdistance_desc,cv_buildHeight_desc,floor_elev_desc
0,21897817,2 Cesar Chavez Street,"153m² plot title parcel on San Francisco, 938m...","[{'trait_type': 'height', 'value': 11, 'displa...",0x79986af15539de2db9a5086382daeda917a9cf0c,non-fungible,2018-06-11T19:08:44.720025,Cryptovoxels,A virtual world on the Ethereum blockchain. Bu...,A virtual world on the Ethereum blockchain. Bu...,...,NaN,2021-04-16 15:41:42.364360,153m² plot title parcel on San Francisco,938m from the origin,with a 11m build height,floor is at 0m elevation,153m² plot title parcel on San Francisco,938m from the origin,with a 11m build height,floor is at 0m elevation
1,21897816,53 Lombard Street,"220m² plot title parcel on San Francisco, 935m...","[{'trait_type': 'height', 'value': 9, 'display...",0x79986af15539de2db9a5086382daeda917a9cf0c,non-fungible,2018-06-11T19:08:44.720025,Cryptovoxels,A virtual world on the Ethereum blockchain. Bu...,A virtual world on the Ethereum blockchain. Bu...,...,NaN,2021-04-16 15:41:42.364360,220m² plot title parcel on San Francisco,935m from the origin,with a 9m build height,floor is at 0m elevation,220m² plot title parcel on San Francisco,935m from the origin,with a 9m build height,floor is at 0m elevation
2,21897815,5 Don Chee Way,"54m² plot title parcel on San Francisco, 932m ...","[{'trait_type': 'depth', 'value': 11, 'display...",0x79986af15539de2db9a5086382daeda917a9cf0c,non-fungible,2018-06-11T19:08:44.720025,Cryptovoxels,A virtual world on the Ethereum blockchain. Bu...,A virtual world on the Ethereum blockchain. Bu...,...,NaN,2021-04-16 15:41:42.364360,54m² plot title parcel on San Francisco,932m from the origin,with a 8m build height,floor is at 0m elevation,54m² plot title parcel on San Francisco,932m from the origin,with a 8m build height,floor is at 0m elevation
3,21897814,59 Lombard Street,"329m² plot title parcel on San Francisco, 935m...","[{'trait_type': 'width', 'value': 15, 'display...",0x79986af15539de2db9a5086382daeda917a9cf0c,non-fungible,2018-06-11T19:08:44.720025,Cryptovoxels,A virtual world on the Ethereum blockchain. Bu...,A virtual world on the Ethereum blockchain. Bu...,...,OpenSea-Orders,2021-04-16 15:41:42.364360,329m² plot title parcel on San Francisco,935m from the origin,with a 14m build height,floor is at 0m elevation,329m² plot title parcel on San Francisco,935m from the origin,with a 14m build height,floor is at 0m elevation
4,21897773,61 Lombard Street,"113m² plot title parcel on San Francisco, 927m...","[{'trait_type': 'height', 'value': 11, 'displa...",0x79986af15539de2db9a5086382daeda917a9cf0c,non-fungible,2018-06-11T19:08:44.720025,Cryptovoxels,A virtual world on the Ethereum blockchain. Bu...,A virtual world on the Ethereum blockchain. Bu...,...,NaN,2021-04-16 15:41:42.364360,113m² plot title parcel on San Francisco,927m from the origin,with a 11m build height,floor is at 0m elevation,113m² plot title parcel on San Francisco,927m from the origin,with a 11m build height,floor is at 0m elevation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,20265518,13 Psyche,"219m² plot title parcel on Helios, 785m from t...","[{'trait_type': 'depth', 'value': 11, 'display...",0x79986af15539de2db9a5086382daeda917a9cf0c,non-fungible,2018-06-11T19:08:44.720025,Cryptovoxels,A virtual world on the Ethereum blockchain. Bu...,A virtual world on the Ethereum blockchain. Bu...,...,OpenSea-Orders,2021-04-16 15:41:42.364360,219m² plot title parcel on Helios,785m from the origin,with a 8m build height,floor is at 0m elevation,219m² plot title parcel on Helios,785m from the origin,with a 8m build height,floor is at 0m elevation
146,20265517,41 Danaë,"339m² plot title parcel on Helios, 778m from t...","[{'trait_type': 'height', 'value': 8, 'display...",0x79986af15539de2db9a5086382daeda917a9cf0c,non-fungible,2018-06-11T19:08:44.720025,Cryptovoxels,A virtual world on the Ethereum blockchain. Bu...,A virtual world on the Ethereum blockchain. Bu...,...,OpenSea-Orders,2021-04-16 15:41:42.364360,339m² plot title parcel on Helios,778m from the origin,with a 8m build height,floor is at 0m elevation,339m² plot title parcel on Helios,778m from the origin,with a 8m build height,floor is at 0m elevation
147,20265516,11 Sylvia,"169m² plot title parcel on Helios, 795m from t...","[{'trait_type': 'height', 'value': 9, 'display...",0x79986af15539de2db9a5086382daeda917a9cf0c,non-fungible,2018-06-11T19:08:44.720025,Cryptovoxels,A virtual world on the Ethereum blockchain. Bu...,A virtual world on the Ethereum blockchain. Bu...,...,OpenSea-Orders,2021-04-16 15:41:42.364360,169m² plot title parcel on Helios,795m from the origin,with a 9m build height,floor is at 0m elevation,169m² plot title parcel on Helios,795m from the origin,with a 9m build height,floor is at 0m elevation
148,20265515,2 Sylvia,"83m² plot title parcel on Helios, 778m from th...","[{'trait_type': 'width', 'value': 12, 'display...",0x79986af15539de2db9a5086382daeda917a9cf0c,non-fungible,2018-06-11T19:08:44.720025,Cryptovoxels,A virtual world on the Ethereum blockchain. Bu...,A virtual world on the Ethereum blockchain. Bu...,...,OpenSea-Orders,2021-04-16 15:41:42.364360,83m² plot title parcel on Helios,778m from the origin,with a 8m build height,floor is at 0m elevation,83m² plot title parcel on Helios,778m from the origin,with a 8m build height,floor is at 0m elevation
149,20265514,5 Psyche,"224m² plot title parcel on Helios, 781m from t...","[{'trait_type': 'depth', 'value': 15, 'display...",0x79986af15539de2db9a5086382daeda917a9cf0c,non-fungible,2018-06-11T19:08:44.720025,Cryptovoxels,A virtual world on the Ethereum blockchain. Bu...,A virtual world on the Ethereum blockchain. Bu...,...,OpenSea-Orders,2021-04-16 15:41:42.364360,224m² plot title parcel on Helios,781m from the origin,with a 17m build height,floor is at 0m elevation,224m² plot title parcel on Helios,781m from the origin,with a 17m build height,floor is at 0m elevation

In [34]:
df['cv_plotSize_m_sq'] = df.cv_plotSize_m.str.extract('(\d+)')
df['cv_OCdistance_m'] = df.cv_OCdistance_desc.str.extract('(\d+)')
df['cv_buildHeight_m'] = df.cv_buildHeight_desc.str.extract('(\d+)')
df[['cv_plotSize_m_sq','cv_OCdistance_m','cv_buildHeight_m']]

    cv_plotSize_m_sq cv_OCdistance_m cv_buildHeight_m
0                153             938               11
1                220             935                9
2                 54             932                8
3                329             935               14
4                113             927               11
..               ...             ...              ...
145              219             785                8
146              339             778                8
147              169             795                9
148               83             778                8
149              224             781               17

[150 rows x 3 columns]